<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductServicePortSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="ProductServicePortSoap111" />
                <binding name="CategoryServicePortSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="CategoryServicePortSoap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.n11.com/ws/productService/" binding="basicHttpBinding"
                bindingConfiguration="ProductServicePortSoap11" contract="N11ProductService.ProductServicePort"
                name="ProductServicePortSoap11" />
            <endpoint address="https://api.n11.com/ws/categoryService/" binding="basicHttpBinding"
                bindingConfiguration="CategoryServicePortSoap11" contract="N11CategoryService.CategoryServicePort"
                name="CategoryServicePortSoap11" />
        </client>
    </system.serviceModel>
</configuration>